<%- galleries = Gallery.videos.limit(configatron.max_galleries_data) -%>
<div class="container-xl no-padding-lr">
	<div class="row justify-content-center">
		<div class="col-lg-12 margin-50px-tb sm-margin-20px-tb">
			<div class="gallery collection grid-loading">
				<div class="swiper mySwiper2">
					<div class="swiper-wrapper">
						<% galleries.each do |gallery| %>
							<div class="content sm-padding-five-lr swiper-slide sm-w-100">
								<%= image_tag cdn_image_url(gallery.image.variant(resize_to_limit: [800,650])), alt: gallery.title %>
								<div class="absolute-middle-center text-center">
									<a href="<%= gallery.video_url %>" class="popup-youtube">
										<i class="iec-icon-play icon-large text-white-2" aria-hidden="true"></i>
									</a>
								</div>
								<div class="text-content text-white-2 text-uppercase sm-padding-ten-lr">
									<%= gallery.title %>
								</div>
							</div>
						<% end %>
					</div>
					<div class="swiper-button-prev2 swiper-portfolio-prev swiper-button-black-highlight" tabindex="0" role="button">
						<i class="iec-icon-left"></i>
					</div>
					<div class="swiper-button-next2 swiper-portfolio-next swiper-button-black-highlight" tabindex="0" role="button">
						<i class="iec-icon-right"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 text-center">
			<% if link_button = snippet.link_buttons.first %>
				<%= render_link_text_url(link_button, "btn btn-medium btn-iec btn-rounded") %>
			<% end %>
		</div>
	</div>
</div>
