<% if snippet.image.attached? %>
	<% unless snippet.video_url.blank? %>
		<div class="overflow-hidden position-relative w-100">
			<img src="<%= url_for(snippet.image) if snippet.image.attached? %>" class="w-100 border-radius-8" alt="Indonesia Energy Corporation video" />
			<div class="absolute-middle-center text-center">
				<a href="<%= snippet.video_url %>" class="popup-youtube">
					<i class="fa-solid fa-play icon-large text-white-2" aria-hidden="true"></i>
				</a>
			</div>
		</div>
	<% else %>
		<%= image_tag(url_for(snippet.image), class: "border-radius-8") %>
	<% end %>
<% end %>
